<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-panel-title>

    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
    <mat-action-row>

    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> -->

<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sin completar
      </mat-panel-title>
      <mat-panel-description>
        Total: 10
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list class="task">
        <div class="text-div">
          <mat-checkbox></mat-checkbox>
          <p class="text">Lorem Ipsum</p>
        </div>
        <div class="button-group">
          <button mat-button class="icon-button">
            <mat-icon svgIcon="edit-icon"></mat-icon>
          </button>
          <button mat-button class="icon-button">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list class="task">
        <div class="text-div">
          <mat-checkbox></mat-checkbox>
          <p class="text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
        </div>
        <div class="button-group">
          <button mat-button class="icon-button">
            <mat-icon svgIcon="edit-icon"></mat-icon>
          </button>
          <button mat-button class="icon-button">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list class="task">
        <div class="text-div">
          <mat-checkbox></mat-checkbox>
          <p class="text">Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".</p>
        </div>
        <div class="button-group">
          <button mat-button class="icon-button">
            <mat-icon svgIcon="edit-icon"></mat-icon>
          </button>
          <button mat-button class="icon-button">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </mat-list>
    </mat-list>
    <mat-action-row>
      <button mat-raised-button color="primary">anterior</button>
      <button mat-raised-button color="primary">siguiente</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

