<mat-card>
  <mat-card-title class="card-title">
    <span>{{folder?.name}}</span>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="sendFolderUpdateEvent()">
        <mat-icon>edit</mat-icon>
        Renombrar
      </button>
      <button mat-menu-item (click)="sendFolderDeleteEvent()">
        <mat-icon>delete</mat-icon>
        Borrar carpeta
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>Creado: {{folder?.created|date:'dd/MM/yy'}}</mat-card-subtitle>

  <mat-card class="mb-2" style="background-color: #fafafa; margin-bottom: 15px; border: 1px #eee solid">
    <mat-form-field appearance="legacy" [style.display]="'block'">
      <mat-label>Escribe una tarea</mat-label>
      <textarea [(ngModel)]="text" cdkTextareaAutosize rows="1" class="text-area" matInput maxlength="255"></textarea>
      <mat-icon style="padding-top: 8px" matPrefix>playlist_add</mat-icon>
      <mat-hint align="start">
        <strong>
          Vencimiento: {{selectedDate == null ? "sin asignar" : selectedDate|date:'dd/MM/yy'}}
        </strong>
      </mat-hint>
    </mat-form-field>
    <mat-card-actions align="end">

      <mat-menu #calendar="matMenu">
        <mat-calendar [selected]="selectedDate" (selectedChange)="saveDate($event)"
                      (click)="$event.stopPropagation()"
                      [minDate]="minDate"></mat-calendar>
      </mat-menu>

      <button mat-raised-button matTooltip="Agregar fecha de vencimiento" #menuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="calendar">
        <mat-icon>date_range</mat-icon>
        <span class="ml-02 text-icon">Fecha vencimiento</span>
      </button>

      <button [disabled]="text.length < 3" (click)="saveItem()" mat-raised-button matTooltip="Agregar tarea"
              color="primary" class="mr-05">
        <mat-icon>add</mat-icon>
        <span class="ml-02 text-icon">Agregar</span>
      </button>

    </mat-card-actions>
  </mat-card>

  <mat-accordion multi>
    <app-panel [title]="'Tareas sin completar'"
               [state]="'unchecked'"
               [todoList]="this.folder"
               [expanded]="true"
               [newItem]="newItem"
               [updatePanels]="updatePanels"></app-panel>

    <app-panel [title]="'Tareas completadas'"
               [state]="'checked'"
               [todoList]="this.folder"
               [expanded]="false"
               [newItem]="null"
               [updatePanels]="updatePanels"></app-panel>

    <app-panel [title]="'Tareas vencidas'"
               [state]="'expired'"
               [todoList]="this.folder"
               [expanded]="false"
               [newItem]="null"
               [updatePanels]="updatePanels"></app-panel>
  </mat-accordion>

</mat-card>

