<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mt-1">Carpetas</mat-toolbar>
    <mat-nav-list class="pt-0">
      <a mat-list-item href="#">
        <mat-icon class="icon-margin">folder_open</mat-icon>
        Link 1
      </a>
      <a mat-list-item href="#">
        <mat-icon class="icon-margin">folder_open</mat-icon>
        Link 2
      </a>
      <a mat-list-item href="#">
        <mat-icon class="icon-margin">folder_open</mat-icon>
        Link 3
      </a>
      <a mat-list-item>
        <mat-icon class="icon-margin">add_circle_outline</mat-icon>
        Nueva carpeta
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <app-todolist></app-todolist>
  </mat-sidenav-content>
</mat-sidenav-container>
