<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mt-1">Carpetas</mat-toolbar>
    <mat-nav-list class="pt-0 text-cut">
      <mat-list-item *ngFor="let folder of folders" (click)="changeFolder(folder)">
        <mat-icon class="icon-margin">folder_open</mat-icon>
        {{folder.name|titlecase}}
      </mat-list-item>
      <mat-list-item style="color: #777" (click)="createFolder()">
        <mat-icon class="icon-margin">add_circle_outline</mat-icon>
        Nueva carpeta
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon>menu</mat-icon>
    </button>
    <app-todolist [folder]="folder" (updateFolderEvent)="updateFolder()"
                  (deleteFolderEvent)="deleteFolder()"></app-todolist>
  </mat-sidenav-content>
</mat-sidenav-container>
