<mat-toolbar color="primary" class="navbar">
  <div id="logo">
    <mat-icon id="icon-logo" class="mr-02">check_box</mat-icon>
    <a [routerLink]="'/home'" style="text-decoration: inherit; color: inherit">TodoList</a>
  </div>
  <div *ngIf="isLogged">
    <mat-menu #appMenu="matMenu">
      <button type="button" mat-menu-item [routerLink]="'/profile'">Perfil</button>
      <button *ngIf="isAdmin" type="button" mat-menu-item [routerLink]="'/users'">Usuarios</button>
      <button type="button" mat-menu-item (click)="logout()">Cerrar sesión</button>
    </mat-menu>

    <button type="button" mat-button [matMenuTriggerFor]="appMenu">
      {{username}}
      <mat-icon class="ml-02">account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
