<h2 mat-dialog-title>{{data.title}}</h2>
<ng-container *ngIf="!data.isInput">
  <mat-dialog-content>{{data.text}}</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="{state: false}">cancelar</button>
    <button mat-raised-button color="primary"
            [mat-dialog-close]="{state:true}">{{data.buttonName}}</button>
  </mat-dialog-actions>
</ng-container>
<ng-container *ngIf="data.isInput && !data.isItem">
  <mat-dialog-content>
    <mat-form-field appearance="legacy" [style.display]="'block'" class="card-width">
      <mat-label>{{data.inputName}}</mat-label>
      <input type="text" matInput [(ngModel)]="inputData" required minlength="3" maxlength="24" #name="ngModel">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="{state: false, data: ''}">cancelar</button>
    <button mat-raised-button color="primary"
            [mat-dialog-close]="{state:true, data: inputData}" [disabled]="name.invalid">{{data.buttonName}}</button>
  </mat-dialog-actions>
</ng-container>
<ng-container *ngIf="data.isInput && data.isItem">
  <mat-dialog-content>
    <mat-form-field appearance="legacy" [style.display]="'block'"  class="card-width">
      <mat-label>{{data.inputName}}</mat-label>
      <textarea [(ngModel)]="inputData" cdkTextareaAutosize rows="1" class="text-area" matInput
                maxlength="255"></textarea>
    </mat-form-field>
    <mat-form-field appearance="legacy"  class="card-width">
      <mat-label>Fecha de vencimiento</mat-label>
      <input matInput [matDatepicker]="$any(picker)" [(ngModel)]="inputDate" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="{state: false, data: ''}">cancelar</button>
    <button mat-raised-button color="primary"
            [mat-dialog-close]="{state:true, data: {text: inputData, date: inputDate}}"
            [disabled]="inputData.length < 3">{{data.buttonName}}</button>
  </mat-dialog-actions>
</ng-container>
